/backend/engine/output_files/
.idea
.vscode
usedTube
*__pycache__*
backend/engine/output_files
backend/engine/resources/output.mp4

backend/engine/resources/sample-file2.zip

backend/engine/logs/
*Postgres*
*artifacts*
*migrations*