
.idea
.vscode

*__pycache__*

backend/engine/logs/
*Postgres*

backend/engine/artifacts/awaiting_retrieval/*
!backend/engine/artifacts/awaiting_retrieval/placeholder.txt
backend/engine/artifacts/awaiting_storage/*
!backend/engine/artifacts/awaiting_storage/placeholder.txt
backend/engine/artifacts/cover_videos/*
!backend/engine/artifacts/cover_videos/placeholder.txt
backend/engine/artifacts/downloaded_preprocessed/*
!backend/engine/artifacts/downloaded_preprocessed/placeholder.txt
backend/engine/artifacts/test_output_files/*
!backend/engine/artifacts/test_output_files/placeholder.txt
backend/engine/artifacts/test_resources/*
!backend/engine/artifacts/test_resources/placeholder.txt
backend/engine/artifacts/tmp/*
!backend/engine/artifacts/tmp/placeholder.txt

server/engine/logs/
*/.venv
*/credentials.json*
*/token.json*

